body{
    background-color:  #f2f2f2;
}
#tool_bar_icon{
    margin-top: 10px;
    margin-left: 10px;
}
#tool_bar_menu{
    color: #777;
    font-weight: bold;
}
#main{
    background-color: white;
}
#a{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#a_1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    margin: 0 70px 6px;
}
#btn_login{
    width: 100%;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}